<!DOCTYPE html>
<html lang="en">

<head>
  <title>Inverted Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="icon" href="src/images/favicon.ico">
  <link rel="stylesheet" href="src/css/inverted-index.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>

<body ng-app="InvertedIndex">
  <header>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">INVERTED INDEX WEB APPLICATION</a>
      </div>
    </nav>
  </header>
  <div class="container-fluid" ng-controller="indexController">
    <!--modal-->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <!-- modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title" id="myModalLabel">WARNING</h2>
            </div>
            <div class="modal-body">
              <h4>{{message}}</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--upload class-->
    <div class="container">
      <div class="col-md-4">
        <div class="row">
          <h4>Select file for upload</h4>
            <input type="file" name="files[]" id="files" multiple>
        </div>
        <br>
        <div class="row">
          <button type="button" class="btn btn-primary" id="upload-file" ng-click="uploadFile()">Upload File</button>
          <div class="row">
            <div class="table-display" ng-if="indexShown" ng-repeat="file in indexFile" id="display-index">
            <br><br>
        <div class="row">
          <h4>Created Index</h4>
        <table class="table table-hover table-striped table-bordered table-responsive">
          <thead>
            <tr>
              <th>Words</th>
              <th ng-repeat="">Documents</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="">
              <td>{{ key }}</td>
              <td ng-repeat="">
              <span class="glyphicon">&#xe013;</span>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Create Index Section -->
      <div class="col-md-4">
        <div class="row">
        <h4>Create Index Section</h4>
          <select class="browser-default" id="filenames">
            <option ng-if="!filed.length" disabled selected>Select file to index</option>
            <option value="" ng-if="filed.length" disabled selected>Choose your file</option>
            <option value="{{theFile.name}" ng-repeat="(title, text) in filed">{{theFile.name}}</option>
          </select>
        </div>
        <br>
        <div class="row">
          <button type="button" class="btn btn-success" id="create-index" ng-click="createIndex()">Create Index</button>
        </div>
      </div>
    <!-- Search Index Section -->
      <div class="col-md-4">
        <div class="row">
          <h4>Search Index</h4>
          <form id="custom-search-form" class="form-search form-horizontal">
            <div class="input-append span15">
              <input type="text" class="search-query" id="search-terms" ng-model="searchQuery" placeholder="Type here to search" required>
              <button type="submit" class="btn" id="search-index" ng-click="searchIndex()">
                <span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="searchIndex()"></span>
              </button>
            </div>
            <br>
          </form>
        </div>
        <div class="row">
          <div class="form-group">
            <select id="fileNames" ng-model="searchedFile">
              <option value="nofile" disabled selected>Select file to search</option>
              <option ng-model="" ng-repeat="" value="{{}}">{{}}</option>
            </select>
          </div>
        </div>
        <div class="row">
        <div class="table-display" ng-if="" ng-repeat="" id="search-index">
          <br><br>
          <h4>Search results</h4>
        <table class="table table-hover table-bordered table-responsive">
          <thead>
            <tr>
              <th>Words</th>
              <th ng-repeat="" style="text-align: center;">
                Location
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="">
              <td>{{}}</td>
              <td ng-repeat="" style="text-align: center;">
                <span class="glyphicon">&#xe013;</span>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="src/inverted-index.js"></script>
  <script type="text/javascript" src="src/js/app.js"></script>
  <div>
</body>
</html>

