#footer {
  bottom: 0;
  height: 50px;
  margin: 0 auto;
  width: 100%;
  position: fixed;
}
.spacer{height: 15px;}

body {
  font-family: Ubuntu, "times new roman", times, roman, serif;
}

.btn-custom {
  background-color: #252839;
  color: #ffffff;
  outline: none;
}

